.contact table {
  border-spacing: 1rem 4rem;
  margin-top: -3rem;
}

.contact th {
  width: 150px;
  text-align: right;
}

.contact td {
  width: 480px;
}

.contact textarea {
  height: 7rem;
  resize: none;
}
.button {
  text-align: center;
}

.button input {
  width: 150px;
  height: 70px;
  font-size: 3rem;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 5px;
}
.button input:hover {
  opacity: 0.5;
}

.w480 {
  width: 480px;
}
